<% yield_content "projects.top", @projects %>

<% if @projects.empty? %>
  <div class="blank_slate">
    <p>None yet, huh?</p>
    <h1>Why don't you <a href="<%= url("new") %>">add your first project</a>?</h1>
  </div>
<% else %>
  <% yield_content "projects.list.top", @projects %>

  <ul id="projects">
  <% for project in @projects %>
    <li class="<%= cycle("even", "odd") %> <%= project.status.to_s %>" id="project_<%= project.id %>">
      <a href="<%= project_url(project) %>"><%= project_name project %></a>
      <div class="meta"><%= project_status project %></div>
      <% yield_content "projects.project", project %>
    </li>
  <% end %>
  </ul>

  <% yield_content "projects.list.top", @projects %>

  <% content_for "global.management" do %>
    <a href="<%= url("new") %>">New Project</a>
  <% end %>
<% end %>

<% yield_content "projects.bottom", @projects %>
