<% if @projects.empty? %>
  <div class="blank_slate">
    <p>None yet, huh?</p>
    <h1>Why don't you <a href="<%= url("new") %>">add your first project</a>?</h1>
  </div>
<% else %>
  <ul id="projects">
  <% for project in @projects %>
    <li class="<%= cycle("even", "odd") %> <%= project.status.to_s %>" id="project_<%= project.id %>">
      <a href="<%= project_url(project) %>"><%=h project.name %></a>
      <div class="meta">
        <% if project.building? %>
          Building.
        <% elsif project.last_commit.nil? %>
          Never built yet.
        <% else %>
          <%= project.human_readable_status %>
        <% end %>
      </div>

      <% yield_content "projects.project", project %>
    </li>
  <% end %>
  </ul>

  <p id="new">
    <a href="<%= url("/new") %>">Add a new project</a>
  </p>
<% end %>
