<% yield_content "project.top", @project %>

<% if !@commit %>
  <form method="post" action="<%= project_url(@project, :builds) %>" class="blank_slate">
    <p>No builds for this project, buddy</p>
    <h1>You can request a <button type="submit">manual build</button>.</h1>
  </form>
<% else %>
  <% yield_content "project.last_commit.top", @project, @commit %>
  <div id="last_build" class="<%= @commit.status %>">
    <%= erb(:commit, :layout => false) %>
  </div>
  <% yield_content "project.last_commit.bottom", @project, @commit %>

  <% content_for "global.management" do %>
    <form method="post" action="<%= project_url(@project, :builds) %>">
      <button type="submit" title="Fetch the last commit and build it">Build Last Commit</button>
    </form>
  <% end %>
<% end %>

<% unless @project.previous_commits.empty? %>
  <h2>Previous Builds</h2>

  <% yield_content "project.previous_commits.top", @project %>

  <ol id="previous_builds">
    <% for commit in @project.previous_commits %>
      <li class="<%= commit.status %>">
        <%= erb(:commit_summary, :layout => false, :locals => { :commit => commit }) %>
      </li>
    <% end %>
  </ol>

  <% yield_content "project.previous_commits.bottom", @project %>
<% end %>

<% content_for "global.management" do %>
  <a href="<%= project_url(@project, :edit) %>">Edit Project</a>
<% end %>

<% yield_content "project.bottom", @project %>
